<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Page 7 - jimuflow网页自动化测试</title>
</head>
<body style="margin: 0">
<div id="test1"><a id="test2" href="./index.html">首页</a></div>
<input id="test3" value="测试输入li87" data-foo="brjs91">
<div id="test4" style="width: 100px;height: 50px;background-color: #f00;position: absolute;left:0;top:50px;">位置测试</div>
</body>
</html>
