<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Page 3 - jimuflow网页自动化测试</title>
</head>
<body style="margin: 0;">
<div id="scrollContainer" style="height: 100vh;overflow: auto;">
    <div id="div1" style="height: 1000px;background-color: blue;">滚动测试1</div>
    <div id="div2" style="height: 1000px;background-color: green;">滚动测试2</div>
</div>
</body>
</html>
